<div class="row">
   <div class="col-md-3">
     <%= render 'users/info', user: @user %>
     <%= render 'new', book: @booknew %>
   </div>
   <div class="col-md-9">
    <h2>Book detail</h2>
    <table class="table">
      <tbody>
        <tr>
          <td>
            <%= link_to user_path(@user) do %>
              <%= image_tag @book.user.get_profile_image(80,80) %><br>
              <%= @book.user.name %>
              <% end %>
          </td>
          <td><%= @book.title %></td>
          <td><%= @book.body %></td>
        </tr>
      </tbody>
    </table>
   </div>
</div>
